<h1>MY ORDERS</h1>

<% @orders.each do |order| %>
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel<%= order.id %>"><%= order.created_at %><br>TOTAL COST:&#36;<%= order.total_price %></a>
      <div id="panel<%= order.id %>" class="content">

        <table class="responsive">
          <thead>
            <tr>
              <th>Status</th>
              <th>Item Title</th>
              <th>Item Description</th>
              <th>Item Price</th>
              <th>Item Quantity</th>
              <th>Total Cost</th>
            </tr>
          </thead>
          <tbody>
              <tr>
            <% order.order_items.each do |order_item| %>
                <td><%= order.status %></td>
                <td><%= order_item.item.title %></td>
                <td><%= order_item.item.description %></td>
                <td><%= order_item.item.price %></td>
                <td><%= order_item.quantity %></td>
                <td><%= order_item.item.price * order_item.quantity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </li>
  </ul>
<% end %>
