<h3>ORDERS</h3>

<% @orders.each do |order| %>
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a class="order-title" href="#panel<%= order.id %>"><%= order.created_at.strftime("%d %b. %Y") %><br>Status:&nbsp;<%= order.status %><br>TOTAL COST:&nbsp;&#36;<%= "%.2f" % order.total_price %></a>
        <% if order.status == "ordered" %>
          <div class="pay-link">
            <%= form_tag charges_path(order_id: order.id), method: :post do %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Order Description"
                data-image=""
                data-email="<%= order.user.email_address %>"
                data-amount="<%= order.total_price * 100 %>">
              </script>
            <% end %>
          </div>
        <% end %>
      <div id="panel<%= order.id %>" class="content">
        <table class="responsive">
          <thead>
            <tr>
              <th>Picture</th>
              <th>Item Title</th>
              <th>Item Description</th>
              <th>Item Quantity</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% order.order_items.each do |order_item| %>
                <td rowspan="2"><%= image_tag(order_item.item.image.url, size: "800x800") %></td>
                <td><%= order_item.item.title %></td>
                <td><%= order_item.item.price %></td>
                <td><%= order_item.quantity %></td>
                <td><%= order_item.item.price * order_item.quantity %></td>
            </tr>
                <td colspan="4"><%= order_item.item.description %></td>
            <tr>
                <td colspan="5"></td>
            </tr>
              <% end %>
          </tbody>
        </table>

      </div>
    </li>
  </ul>
<% end %>
