<%= form_for(@user) do |f| %>
  <h3>Register</h3><br>
  <%= f.email_field :email_address, label: 'E-mail' %><br>
  <%= f.text_field :username %><br>
  <%= f.text_field :password %><br>
  <%= f.submit "Create Account" %>
<% end %>