<table class="responsive">
  <thead>
    <tr>
      <th width="150">Category</th>
      <th width="150">Item</th>
      <th>Description</th>
      <th width="200">Quantity</th>
      <th width="100">Price</th>
      <th width="100">Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item, quantity| %>
      <tr>
        <td><%= item.categories.map(&:name).join %></td>
        <td><%= item.title %></td>
        <td><%= item.description %></td>

        <td>
        <form action="/cart/update" method="put" data-remote="true">
          <label class="quantity-input">
            <input name='_method' type='hidden' value='put'>
            <input type="number" name="quantity" value="<%= quantity %>" min="0" max="20">
            <input name='item_id' type='hidden' value='<%= item.id %>'>
            <input type="submit" value="Update" class="update button tiny radius">
          </label>
        </form>
        </td>

        <td><%= item.price %></td>
        <td> Total Price </td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/cart/destroy" method="delete" class="button alert tiny radius">Clear Cart</a>

