<table class="responsive">
  <thead>
    <tr>
      <th width="150">Category</th>
      <th width="150">Item</th>
      <th>Description</th>
      <th width="100">Quantity</th>
      <th width="100">Price</th>
      <th width="100">Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item, quantity| %>
      <tr>
        <td><%= item.categories.map(&:name).join %></td>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td>
        <%= form_tag cart_update_path, method: :put do %>
          <%= select_tag :quantity, options_for_select((0..10), quantity) %>
          <%= hidden_field_tag :item_id, item.id %>
          <%= submit_tag "Update", class: "update" %>
        <% end %>
        <%= button_to "Delete", cart_item_path(item.id), method: :delete %>
        </td>
        <td><%= item.price %></td>
        <td> Total Price </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Clear Cart", cart_destroy_path, method: :delete, class: "button alert tiny radius" %>
