<table class="responsive">
  <thead>
    <tr>
      <th width="150">Category</th>
      <th width="150">Item</th>
      <th>Description</th>
      <th width="100">Quantity</th>
      <th width="100">Price</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item, quantity| %>
      <tr>
        <td><%= item.categories.map(&:name).join %></td>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= quantity %></td>
        <td><%= item.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>