<table class="responsive">
  <thead>
    <tr>
      <th>Category</th>
      <th>Item</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item, quantity| %>
      <tr>
        <td>
          <% item.categories.each do |category| %>
            <%= link_to category.name, category_path(category.id) %><br>
          <% end %>
        </td>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td>
        <%= form_tag cart_update_path, method: :put do %>
          <%= select_tag :quantity, options_for_select((0..10), quantity) %>
          <%= hidden_field_tag :item_id, item.id %>

          <%= button_tag(type: "submit", title: "Update", name: "update") do %>
            <i class="fi-refresh"></i>
          <% end %>

        <%= link_to '<i class="fi-trash"></i>'.html_safe, cart_item_path(item.id), method: :delete, title: "Delete" %>
        <% end %>
        </td>

        <td>&#36;<%= item.price %></td>
        <td>&#36;<%= item.price * quantity %></td>
      </tr>
    <% end %>

    <td></td>
    <td></td>
    <td></td>
    <td colspan="1"><%= button_to "Clear Cart", cart_destroy_path, method: :delete %></td>
    <td colspan="1">
      <% if current_user %>
        <%=button_to "Checkout" %>
      <% else %>
        <% flash[:notice] = "Register Or Login To Checkout" %>
      <% end %>
    </td>
    <td class="price">&#36;<%= @total_price %></td>
  </tbody>
</table>