<table>
  <thead>
    <tr>
      <th class="iphone_hide">Item</th>
      <th>Title</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td rowspan="2" class="iphone_hide"><%= image_tag(cart_item.image.url, size: "800x800") %></td>
        <td><%= cart_item.title %></td>
        <td>
          <%= form_tag cart_item_path(cart_item.id), method: :put do %>
            <%= select_tag :quantity, options_for_select((1..10), cart_item.quantity) %>

            <%= button_tag(type: "submit", title: "Update Quantity", data: {tooltip: "", disable_for_touch:true}, class: "refresh-icon") do %>
              <i class="fi-refresh"></i>
            <% end %>

            <%= link_to '<i class="fi-trash"></i>'.html_safe, cart_item_path(cart_item.id), method: :delete, title: "Delete Item", data: {tooltip: "", disable_for_touch:true} %>
          <% end %>
        </td>

        <td>&#36;<%= "%.2f" % cart_item.price %></td>
        <td>&#36;<%= "%.2f" % (cart_item.price * cart_item.quantity) %></td>
      </tr class="iphone_hide">
        <td colspan="4"><%= cart_item.description %></td>
      <tr class="iphone_hide">
        <td colspan="5"></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2" class="iphone_hide"></td>
      <td colspan="1" class="iphone_show"></td>
      <td><%= button_to "Clear Cart", cart_destroy_path, method: :delete, class: "tiny button radius" %></td>
      <td>
        <% if current_user %>
          <%=button_to "Checkout", user_orders_path, params: {total_price: @total_price }, class: "tiny button radius" %>
        <% else %>
         <a href="/login" data-reveal-id="LoginModal"><u>Login</u></a>
        <% end %>
      </td>
      <td class="price">&#36;<%= "%.2f" % @total_price %></td>
    </tr>
  </tbody>
</table>
