<div class="row">
  <% @category_items.each do |item| %>
    <div class="card medium-3 columns">
        <%= image_tag(item.image.url, class: "item_image") %>
          <div class="card-divider">
            <h6><b><%= item.title %></b></h6>
          </div>
          <div class="card-section">
            <p><%= item.description %></p>
            <h6>&#36;<%= "%.2f" % item.price %></h6>
          </div>
          <a href="" data-reveal-id="Update-item-<%= item.id %>" class="tiny button radius">Update</a>
      </div>

    <div id="Update-item-<%= item.id %>" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <%= form_for(:item, url: admin_item_path(item.id), method: :put, html: {multipart: true}) do |f| %>
            <h3>Update Item</h3><br>
            <%= f.text_field :title, value: item.title %>
            <%= f.text_field :description, value: item.description %>
            <%= f.text_field :price, value: item.price %>
            <%= f.file_field :image %>
            <%= f.select :available, [true, false], label: "Available In Store?" %><br>
            <%= f.submit "Update Item" %>
          <% end %>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  <% end %>
</div>

<div id="AdminAddsItemModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <%= form_for(:item, url: admin_items_path, html: {multipart: true}) do |f| %>
    <h3>Add Item</h3><br>
    <%= f.text_field :title %>
    <%= f.text_field :description %>
    <%= f.text_field :price %>
    <%= f.file_field :image %>
    <%= f.collection_select :category, Category.all, :id, :name, prompt: true, include_blank: "New Category" %>
    <div class="hidden_input_field" id="hif">
     <%= f.file_field :category_image %>
     <%= f.text_field :new_category, label: "New Category Name" %>
    </div>
    <%= f.submit "Add Item" %>
  <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>