<div class="row">
  <% @category_items.each do |item| %>
    <div class="small-3 columns">
      <img src="http://placehold.it/400x300&text=[img]"/></img>
        <a href="" data-reveal-id="item-<%= item.id %>"><%= item.title %></a>

          <ul class="button-group even-3 round">
            <% item.available? ? status = "Retire" : status = "Un-Retire" %>
            <li><%= link_to status, admin_item_status_path(item.id), method: :put, class: "button" %></li>
            <li><a href="" class="button">Update</a></li>
            <li><a href="" class="button">Delete</a></li>
          </ul>
    </div>

    <div id="item-<%= item.id %>" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle"><%= item.title %></h2>
        <p class="lead"><%= item.description %></p>
        <p><%= item.price %></p>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  <% end %>
</div>