<%= flash[:notice] %>
<div class="row">
  <% @category_items.each do |item| %>
    <div class="small-3 columns">
      <img src="http://placehold.it/400x300&text=[img]"/>
        <a href="" data-reveal-id="myModal"><%= item.title %></a>

        <%= form_tag cart_items_path, method: :post do %>
          <%= select_tag :quantity, options_for_select(1..10) %>
          <%= hidden_field_tag :item_id, item.id %>
          <%= submit_tag "Add To Cart", class: "button tiny" %>
        <% end %>
    </div>

    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle"><%= item.title %></h2>
        <p class="lead"><%= item.description %></p>
        <p><%= item.price %></p>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  <% end %>
</div>