<div class="row">
  <% @category_items.each do |item| %>
    <% if item.available? %>
      <div class="small-3 columns image_rapper">
        <%= image_tag(item.image.url, class: "item_image") %>

          <div class="text_title">
            <a href="" data-reveal-id="item-<%= item.id %>"><%= item.title %></a>
          </div>
      </div>
    <% end %>

    <div id="item-<%= item.id %>" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle"><%= item.title %></h2>
        <p class="lead"><%= item.description %></p>
        <p><%= item.price %></p>
          <%= form_tag cart_items_path, method: :post do %>
            <%= select_tag :quantity, options_for_select(1..10) %>
            <%= hidden_field_tag :item_id, item.id %>
            <%= submit_tag "Add To Cart", class: "button tiny" %>
          <% end %>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  <% end %>
</div>