<div class="row">
  <% @category_items.each do |item| %>
    <% if item.available? %>
      <div class="card medium-3 columns">
        <%= image_tag(item.image.url, class: "item_image") %>
          <div class="card-divider">
            <h5><%= item.title %></h5>
          </div>
          <div class="card-section">
            <p><%= item.description %></p>
            <p>&#36;<%= item.price %></p>
            <%= form_tag cart_items_path, method: :post do %>
              <%= select_tag :quantity, options_for_select(1..10) %>
              <%= hidden_field_tag :item_id, item.id %>
              <%= submit_tag "Add To Cart", class: "button round tiny" %>
            <% end %>
          </div>
      </div>
    <% end %>
  <% end %>
</div>