<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Fruits For Humanity" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="medium-3 columns">
        <a href="/"><h1><img src="http://placehold.it/400x100&text=Logo"></h1></a>
      </div>
      <div class="medium-9 columns">
        <ul class="button-group right">
          <li><a href="/cart" class="cart"><i class="fi-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>

    <%= display_flash_messages %>

  <%= yield %>

  <footer class="row">
    <div class="medium-12 columns">
      <hr/>
      <div class="row">
        <div class="medium-6 columns">
          <p>© Copyright Killin-it</p>
        </div>
        <div class="medium-6 columns">

        <% if current_admin? %>
          <ul class="inline-list right">
            <li><a href="/admin/orders">Orders</a></li>
            <li><a href="/admin/items/new" data-reveal-id="AdminAddsItemModal">Add Items</a></li>
          </ul>
        <% end %>

          <ul class="inline-list right">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        <% if current_user %>
            <li><a href="/user/orders">My Orders</a></li>
            <li><a data-method="delete" href="/logout">Logout</a></li>
        <% else %>
            <li><a href="/users" data-reveal-id="RegisterModal">Register</a></li>
            <li><a href="/login" data-reveal-id="LoginModal">Login</a></li>
        <% end %>
          </ul>

        </div>
      </div>
    </div>

    <div id="LoginModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <%= form_for(:session, url: login_path) do |f| %>
          <h3>Login</h3><br>
          <%= f.text_field :username %>
          <%= f.text_field :password %>
          <%= f.submit "Login" %>
        <% end %>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <div id="RegisterModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <%= form_for(:user, url: users_path) do |f| %>
          <h3>Register</h3><br>
          <%= f.email_field :email_address, label: 'E-mail' %>
          <%= f.text_field :username %>
          <%= f.text_field :password %>
          <%= f.submit "Create Account" %>
        <% end %>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <div id="AdminAddsItemModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <%= form_for(:item, url: admin_items_path, html: {multipart: true}) do |f| %>
          <h3>Add Item</h3><br>
          <%= f.text_field :title %>
          <%= f.text_field :description %>
          <%= f.text_field :price %>
          <%= f.file_field :image %>
          <%= f.collection_select :category, Category.all, :id, :name, prompt: true, include_blank: "New Category" %>
          <div class="hidden_input_field" id="hif">
           <%= f.file_field :category_image %>
           <%= f.text_field :new_category, label: "New Category Name" %>
          </div>
          <%= f.submit "Add Item" %>
        <% end %>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

  </footer>
  </body>
</html>
