<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="left">
      <li class="company name">
        <a href="/">Fruits 4 Humanity</a>
      <!-- <h1><img src="http://placehold.it/400x100&text=Logo"/></h1> -->
      </li>
    </ul>
    <ul class="right">
      <li class="cart">
        <a href="/cart"><%= @cart.count_all %><i class="fi-shopping-cart"></i></a>
      </li>
    </ul>
  </nav>

  <%= yield %>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright Killin-it</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
